# Prerequisites
*.d
*.vs
.vs/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
/Project-OWL.vcxproj.user
/x64/ReleaseEditor
/x64
/Debug
/Debug
/x64/Release
/Release
/trace.log
/Project-OWL/x64/Debug
/Data/Scenes/Autosaved_Scene.scene.json
/doc_output/html/stream_8h_source.html
/imgui.ini
