# Prerequisites
*.d
*.vs
.vs/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
/Project-OWL.vcxproj.user
/x64/Debug
/Debug
/x64/Release
/Release
/imgui.ini
